<!doctype html>
<html>
    <header>
        <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../public/stylesheets/lib.css"> 
        <title>Finstagram</title>
        <h1>Finstagram</h1>
            <a href="https://www.linkedin.com/in/frederick-scott/">
            <img src=https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAssAAAAJDE1ODI2N2M1LTYwOTgtNDY2YS04YTdmLTEyMmY1Yzk1YzlmYQ.jpg alt=frederick_scott>    
            </a>
        <h3>frederick_s</h3>
    </header>
    <main role=main></main>
    <article>
        <div>
            <a href="#">
            <img src=http://static1.squarespace.com/static/56e0f44160b5e96aec2019f3/t/5704feaa7da24f6f4e0265de/1459945131814/espresso-09.jpg?format=1000w alt=espresso>
            </a>
            <h2>Espresso</h2>
            <h3>15 mins ago</h3>
            <div>
                0 likes
                <span>0 comments</span>
            </div>
            <ul>
                <li>
                    <p>
                        Espresso is too bitter to drink....pls remake.
                    </p>
                </li>
            </ul>
        </div>
    </article>
</html>
