<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../public/stylesheets/lib.css"> 
        <title>Finstagram</title>
        <link rel="stylesheet" href="../../public/stylesheets/app.css">
    </head>
    <body>
        <header>
            <h1>Finstagram</h1>
        </header>
        <main role=main>
            
            <article class="post">
                <div class="user-info">
                  <img src=https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAssAAAAJDE1ODI2N2M1LTYwOTgtNDY2YS04YTdmLTEyMmY1Yzk1YzlmYQ.jpg alt=frederick_scott>
		          <h2>frederick_s</h2>
		          <h3>15 mins ago</h3>
		        </div>
		        <a class="photo" href="#">
                <img src=http://static1.squarespace.com/static/56e0f44160b5e96aec2019f3/t/5704feaa7da24f6f4e0265de/1459945131814/espresso-09.jpg?format=1000w alt=espresso>
                </a>
                <div class= "actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            <strong>frederick_s</strong>: Espresso is coffee brewed by forcing a small amount of nearly boiling water under pressure through finely ground coffee beans.
                        </p>
                    </li>
                </ul>
            </article>
            
            <article class="post">
                <div class="user-info">
                    <img src="http://naserca.com/images/kirk_whalum.jpg" alst="kirk_whalum">
                    <h2>kirk_whalum</h2>
                    <h3>1 hour ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/whale.jpg" alt="post from kirk_whalum">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            kirk_whalum: #weekendsvibes
                        </p>
                    </li>
                </ul>
            </article>
    
            <article class="post">
                <div class="user-info">
                    <img src="http://naserca.com/images/marlin_peppa.jpg" alst="marlin_peppa">
                    <h2>marlin_peppa</h2>
                    <h3>3 hours ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/marlin.jpg" alt="post from merlin_peppa">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            marlin_peppa: lunchtime! ;)
                        </p>
                    </li>
                </ul>
            </article>
            
        </main>
    </body>
</html>
