<!doctype html>
<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <header>
            <h1>Finstagram</h1>
        </header>
        <main role=main>
            <article>
                <div>
                  <img src=https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAssAAAAJDE1ODI2N2M1LTYwOTgtNDY2YS04YTdmLTEyMmY1Yzk1YzlmYQ.jpg alt=frederick_scott>
		          <h2>frederick_s</h2>
		          <h3>15 mins ago</h3>
		        </div>
            </article>
        </main>
    </body>
</html>
